* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Jost", sans-serif;
}

:root {
    --peach: hsl(11, 73%, 66%);
    --light-peach: hsl(11, 100%, 80%);
    --black: hsl(270, 3%, 11%);
    --dark-gray: hsl(264, 5%, 20%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(210, 17%, 95%);
}

.navbar {
    /* border: 2px solid black; */
    padding: 4rem 5rem 1.5rem 5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    width: 90%;
    margin: 0 auto;
}

.header-image img {
    height: 27px;
}

.right-navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.right-navbar ul li {
    list-style: none;
    padding: 10px;
    margin: 0 1rem;
    letter-spacing: 2px;
    font-size: 17px;
    font-weight: 550;
    transition: all 0.2s ease-in-out;
}

.right-navbar ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* CONTAINER*/

.container {
    /* width: 1230px; */
    width: 85%;
    margin: 0 auto;
}

.card {
    /* border: 2px solid black; */
    margin-top: 67px;
    height: 640px;
    background-color: var(--peach);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.card::after {
    content: url(../images/bg-pattern-hero-home.svg);
    position: absolute;
    width: 1110px;
    height: 640px;
    left: 50%;
    top: 0px;

}

.card-left {
    color: #fff;
    width: 540px;
    height: 350px;
    padding-left: 95px;
    padding-top: 145px;
}

.card-left h1 {
    width: 540px;
    height: 165px;
    font-size: 3rem;
}

.card .card-left p {
    margin-top: 30px;
    margin-bottom: 3rem;
    font-size: 17px;
}

.card_mobile-image {
    position: absolute;
    left: 55%;
    top: -30px;
    overflow: hidden;
}

.btn {
    background: #ffffff;
    font-size: 17px;
    line-height: 22px;
    /* letter-spacing: 1px; */
    text-transform: uppercase;
    border-radius: 8px;
    font-family: Jost;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    width: 152px;
    height: 56px;
    border: none;
    transition: all 0.7s ease;
    transition-property: color, background-color;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--light-peach);
}

.grid__container {
    padding-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 345px);
    gap: 50px 25px;
    place-content: center;
    width: 85%;
    height: 700px;
    margin: 6rem auto;
    position: relative;
}

.widgets-images {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}


.web-design {
    grid-row: span 2;
    position: relative;
    /* border: 2px solid black; */
}

.app-design {
    margin-bottom: 20px;
    position: relative;
    /* border: 2px solid black; */
    /* width: 100%; */
    height: 105%;

}

.graphic-design {
    position: relative;
    /* border: 2px solid black; */

}


.projects__overlay--dark:hover {
    background-color: var(--peach);
}



.widgets_heading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-53%, -50%);
    /* border: 2px solid white; */
    width: 80%;
}

.widgets_heading .design_heading {
    color: #fff;
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 1rem;
}

.view_project {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 550;
    padding-left: 1px;
    text-align: center;
    color: white;
}

.widgets_overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: background-color 0.7s ease;
}

.widgets_overlay:hover {
    background-color: var(--light-peach);
}