@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Jost", sans-serif;
}

:root {
    --peach: hsl(11, 73%, 66%);
    --light-peach: hsl(11, 100%, 80%);
    --black: hsl(270, 3%, 11%);
    --dark-gray: hsl(264, 5%, 20%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(210, 17%, 95%);
}

.card {
    /* border: 2px solid black; */
    /* margin-top: 67px; */
    height: 530px;
    background-color: var(--peach);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding-bottom: 3rem; */
}

.card::after {
    content: url(../images/bg-pattern-hero-home.svg);
    position: absolute;
    width: 1110px;
    height: 500px;
    left: 50%;
    top: 0px;
    z-index: -1;

}

.card-left {
    color: #fff;
    width: 40%;
    height: 350px;
    padding-left: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-left h1 {
    width: 540px;
    height: auto;
    font-size: 3.2rem;
}

.card .card-left p {
    margin-top: 30px;
    margin-bottom: 3rem;
    font-size: 18px;
}

.form-btn {
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card-right .btn {
    margin-top: 2rem;
}


.form-item {
    border: 2px solid var(--white);
    border: none;
    color: #ffffff;
    font-family: Jost;
    margin-bottom: 25px;
    width: 380px;
    height: 49px;
    position: relative;
}

.input_para {
    font-size: 20px;
    font-style: italic;
    color: var(--light-gray);
    position: absolute;
    top: -2px;
    right: 0;
}

.form-item:last-child() {
    top: 40px;
    display: none;
}

.form-item p.active {
    display: block;
}


input,
textarea {
    background-color: transparent !important;
    border: none;
    outline: none;
    width: 95%;
    border-bottom: 1px solid white;
    color: #ffffff;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    transition: all 0.1s ease;
    resize: none;
    padding-left: 15px;
    position: absolute;
    /* width: 100%; */
}

input.active,
textarea.active {
    border-bottom: 3px solid white;
}

input::placeholder,
textarea::placeholder {
    color: var(--light-peach);
    font-weight: 600;
    font-size: 17px;
}



.btn {
    background: #ffffff;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 8px;
    font-family: Jost;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    width: 152px;
    height: 56px;
    border: none;
    transition: all 0.7s ease;
    transition-property: color, background-color;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--light-peach);
}

.section_skills {
    margin-top: 5rem;
    /* border: 2px solid black; */
}

.skills_container {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    margin: 3rem auto;
}

.skills_container-card {
    width: 27%;
    padding: 30px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills_container-card .btn {
    background-color: var(--peach);
    letter-spacing: 2px;
    font-weight: 600;
    width: 11rem;
    transition: all 0.5s ease-in-out;
    color: var(--white);
}

.skills_container-card .btn.btn:hover {
    background-color: var(--light-peach);
}


.skills_container-card h1 {
    color: var(--dark-gray);
    letter-spacing: 5px;
    margin: 2rem 0;
}

.skills_container-card p {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    color: #333136;
}

.contact_us {
    margin-top: 10rem;
}

/* .footer {
    position: relative;
} */